{% extends 'purposes/base_purposes.html' %}
{% block title %}Доска целей{% endblock title %}
{% block content %}
    {{ block.super}}
    <h1>Цели</h1>
    <div class="container-fluid">
        {% for purpose in object_list %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title">{{ purpose.title }}</h1>
                </div>
                <div class="panel-body">
                    {{ purpose.description }}
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Создано</th>
                            <th>Изменено</th>
                            <th>Действия</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ purpose.created }}</td>
                            <td>{{ purpose.modified }}</td>
                            <td><a href="{{ purpose.id }}"><small>Редактировать</small></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        {% empty %}
            <p>Не нашлось целей. Вы можете добавить.</p>
        {% endfor %}
        <p>
            <a href="{% url 'purposes:create' %}">Создать</a>
        </p>
    </div>
{% endblock content %}
