{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}Бизнес Менеджер{% endblock title %}
    </title>
    {% block stylesheets %}
        <link rel="stylesheet"
              type="text/css"
              href="{% static 'css/style.css' %}">
    {% endblock stylesheets %}
</head>
<body>
    <div class="login-board">
        {% comment %}<a href="{% url 'profiles:login' %}">Войти</a>{% endcomment %}
        <a href="{% url 'profiles:register' %}">Зарегистрироваться</a>
        {% if user.is_authenticated %}
            <p>Добро пожаловать {{ user.username }}</p>
        {% else %}
            <p>Привет, зарегистрируйтесь.</p>
        {% endif %}
        {% comment %}<a href="{% url 'profiles:logout' %}">Выйти</a>{% endcomment %}
    </div>

    <div class="content">
        {% block content %}
            <h1>Добро пожаловать в Бизнес Менеджер</h1>
        {% endblock content %}
    </div>
</body>
</html>
