{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
        {% block title %}Бизнес Менеджер{% endblock title %}
    </title>
    {% block stylesheets %}
        <link rel="stylesheet"
              type="text/css"
              href="{% static 'bootstrap/css/bootstrap.css' %}" />

        <link rel="stylesheet"
              type="text/css"
              href="{% static 'css/style.css' %}" />
    {% endblock stylesheets %}
</head>
<body>
    {% include 'loginbar.html' %}
    <hr/>
    <div class="">
        {% block content %}
            <h1>Добро пожаловать в Бизнес Менеджер</h1>
        {% endblock content %}
    </div>
    <hr/>
    <div class="footer">
        <a href="{% url 'launchers:home_page' %}">На главную</a>
    </div>
    {% block javascripts_footer %}
        <script src="{% static 'js/jquery/jquery-2.2.3.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    {% endblock javascripts_footer %}
</body>
</html>
