{% extends 'registration/base_registration.html' %}

{% block title %}Вход в систему{% endblock title %}

{% block content %}
    <div>
        Вы можете <a href="{% url 'profiles:register' %}">зарегистрироваться</a>.
    </div>
    <div>
        <h1>Вход в систему</h1>
        <form method="post" action="" class="form-input">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next|default:'/' }}">
            {{ form }}
            <p>
                <input type="submit" value="Войти"/>
            </p>
        </form>
    </div>
{% endblock %}
