{% extends 'registration/base_registration.html' %}

{% block title %}Вход в систему{% endblock title %}

{% block register %}<a href="{% url 'profiles:register' %}">Зарегистрироваться</a>{% endblock register %}

{% block content %}
    <h1>Вход в систему</h1>
    <form method="post" action="" class="form-input">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next|default:'/' }}">
        {{ form }}
        <p>
            <input type="submit" value="Войти"/>
        </p>
    </form>
{% endblock %}
