{% extends 'registration/base_registration.html' %}

{% block title %}Вход в систему{% endblock title %}

{% block content %}
    <div>
        Вы можете <a href="{% url 'profiles:register' %}">зарегистрироваться</a>
    </div>
    <div>
        <form method="post" action="" class="form-signin">
            <h2 class="form-signin-heading">Вход в систему</h2>
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next|default:'/' }}">
            {{ form }}
            <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
        </form>
    </div>
{% endblock %}
